@model Codebin.Models.Snippet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Index">Back to List</a>

<h1 class="mt-4">@Model.Title</h1>

<div>
    <div>
        <hr />
        <div class="mb-4">
            @foreach(string tag in Model.Tags)
            {
                <span class="badge bg-secondary">@tag</span>
            }
        </div>
        <pre style="white-space: pre-wrap;" class="mt-2 p-4"><code class="lang-@Model.Language.ToLower()">@Model.Content</code></pre>
    </div>

    <div class="mt-4">
        @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }, new { @class = "btn btn-secondary" })
        <form asp-action="Delete" asp-route-id="@Model.Id" onsubmit="return confirm('Are you sure you want to delete this?')" class="d-inline">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        @*@Html.ActionLink("Delete", "Delete", new {  id = Model.Id }, new { @class = "btn btn-danger" })*@
    </div>

</div>

